@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --bg-primary: #fff;
    --bg-secondary: #fefefe;
    --bg-main: rgb(242, 243, 242);
    --text-color-main: #777777;
    --detail-lines: rgba(33,33,33,0.1);
    --font-primary: 'Quicksand', sans-serif;
}

a:active {
    color: inherit;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Barlow', sans-serif;
    min-height: 100vh;
}

input {
    outline: none;
}
input:focus, input:active {
    border: 1px solid rgb(102, 156, 226)!important;
}

/** Login **/
.login {
    background: var(--bg-main);
}

.container-form span {
    color: var(--text-color-main);
}

.container-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
}
.container-form h1 {
    text-align: center;
    color: gray;
}
.container-form h1  span{
    font-weight: 400;
    font-size: 1.2rem;
}
.container-form p {
    text-align: center;
    color: white;
    font-size: 1.4rem;
}
.box-login {
    background-color: var(--bg-secondary);
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.185);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.185);
    box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.185);
    padding: 3rem;
}
.field {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.field label {
    padding: .7em;
    flex: 0 0 100%;
    text-align: left;
    font-size: 1.5em;
}
.field input[type="email"],
.field input[type="text"],
.field input[type="password"] {
    height: 3rem;
    flex: 1;
    border: 1px solid var(--detail-lines);
    padding-left: 1.5rem;
    color: var(--text-color-main);
}
.field.actions {
    justify-content: space-between;
}
.send {
   justify-content: flex-end;
}
.btn {
    height: 30px;
    background-color: #0072a6;
    border-radius: 30px;
    text-align: center;
    padding: 20px 20px;
    text-transform: capitalize;
    border: 1px solid var(--detail-lines);
    color: white;
    line-height: 0;
    cursor: pointer;
}


.field a {
    color: black;
    text-decoration: none;
}

.add-one:hover {
    cursor: pointer;
    text-decoration: underline;
}

/** header **/
body.index {
    height: 100vh;
}
.header {
    background: var(--bg-primary);
    padding: 1rem 6rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--detail-lines);
}
.header h1 {
    color: var(--text-color-main);
    margin:0;
    font-size: 1.4rem;
}

.header__greeting {
    font-weight: bold;
    font-size: 1.5rem;
    color: #616161;
}

/*** sidebars **/     
.container-aside {
    height: 100%;
    max-width: 250px;
    background: var(--bg-secondary);
    padding-top: 1rem;
}

.aside__left {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.aside__right {
    width: 250px;
}


.nav__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;
    font-family: 'Quicksand', sans-serif;

}

.nav__items {
    margin-bottom: 3rem;
}

.nav__items > .new {
    border: 1px solid inherit;
}

.nav__links {
    text-decoration: none;
}

.nav__links:hover {
    color: black;
}

.panel {
    padding: 1rem;
    margin: 1rem;
}
.panel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.panel h2 {
    color: var(--text-color-main);
    font-weight: 900;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
}

/* projects */

.projects__list {
    margin-top: 1rem;
    
    display: flex;
    flex-wrap: wrap;
}

.projects__list--item {
    flex-basis: 48%;
    border: 1px solid var(--detail-lines);
    box-shadow: 0 0 .9rem rgba(133,133,133,0.1);
    margin: 1% 1%;
    height: 100px;
    background: white;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms ease-in-out;
}
.projects__list--item:hover {
    cursor: pointer;
    transform: translateY(-7px);
    box-shadow: 0 0 .9rem rgba(133,133,133,0.2);
}

.projects__list--item--name {
    font-size: 1.4rem;
    color: grey;
    text-decoration: none;
}
.projects__list--item--name:hover {
    text-decoration: underline;
}
.projects__list--item--date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .9rem;
    padding: .3rem;
    color: var(--text-color-main);
}

.projects__item {
    padding: 1rem .3rem;
    border-bottom: 1px solid var(--detail-lines);
}
.projects__item:first-child {
    border-top: 1px solid var(--detail-lines);
}


.projects a {
    color: var(--text-color-main);
}

.list-projects ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}

/** Contenido Principal */
.main {
    flex-grow: 1;
    background: var(--bg-main);
}

.container {
    display: flex;
    height: calc( 100vh - 60px);
}
.main-content {
    flex: 1;
    padding: 1rem;
    background: inherit;
}
.main-content h1,
.main-content h2 {
    text-align: left;
    color: #9a9a9a;
}
.main-content h1 {
    font-size: 1.8rem;
}
.main-content h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.main-content h1 span {
    font-weight: 400;
}


/** Listado Pendientes **/
.pending-list {
    background-color: #ffffff;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 0 .5rem;
    color: #817373; 
}
.pending-list ul {
    padding: 0;
    list-style: none;
}
.pending-list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 1px solid #d1d1d155;
    max-height: 2.5em;
    padding-left: .5em;
}
.pending-list ul li:last-of-type {
    border-bottom: none;
}
.pending-list ul li i {
    cursor: pointer;
}
.actions i:last-child{
    margin-right: 1em;
    margin-left: 1.3em;
}
.completed {
    color: rgb(0, 161, 86);
}

.completed-task {
    text-decoration: line-through;
}

.animation-completed {
    animation: completed 300ms forwards;
}

@keyframes completed {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.alert {
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-primary);
    max-width: 300px;
    margin-top: .5rem;
}
.error {
    color: #c40a0a!important
}
.error p {
    color: #c40a0a!important;
}
.correcto {
    color: green;
    background-color: rgb(201, 245, 201);
    border: 1px solid green;
}
.correcto p {
    color: green;
}

/** Linea de Avance **/

.progress {
    padding-top: 1rem;
}

.progress p {
    text-align: left;
    padding-left: 17px;
    font-weight: bold;
    font-size: 1rem;
    margin: .5rem 0;
    color: var(--text-color-main);
}

.header-progress {
    height: 19px;
    border: 1px solid var(--detail-lines);
    max-width: 350px;
    width: 90%;
    margin-left: 17px;
}
.percentage {
    width: 0%;
    height: 100%;
    background-color: #00B762;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .3s ease;
}

.percentage-number {
    margin: .5em 0;
    display: block;
    text-align: center;
    color: gray;
}

.new-project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    width: 400px;
    padding: 1rem;
}

.new-project input {
    height: 40px;
    
    border: none;
    outline: none;
}

.new-project label {
    flex-basis: 100%;
    margin-bottom: 1rem;
    color: var(--text-color-main);
    font-weight: bold;
}

.new-project input[type="text"] {
    flex-basis: 70%;
    border: 1px solid var(--detail-lines);
    border-right: none;
    padding-left: 1rem;
    font-size: 1rem;
}

.new-project input[type="submit"] {
    background: rgb(255, 133, 133);
    color: var(--bg-secondary);
    
    flex-basis: 30%;
}


.container-actions {
    max-width: 800px;
    margin: 2rem auto 0 auto;
    width: 90%; 

    display: flex;
    justify-content: space-between;
}
.container-actions .btn:first-of-type{
    color: black;
    text-decoration: none;
}
.container-actions .btn.delete {
    color: white;
}
.container-actions .btn {
    margin: 0;
    text-align: center;
    display: block;
}

/* Project-details */
.task {
    display: grid;
    grid-template-columns: 40% 1fr;
}


.add-task {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background: white;
    height: min-content;
    width: 450px;
    padding: 1rem;
    margin: 1.3rem auto;
}
.add-task input {
    height: 40px!important;
    
    border: none;
    outline: none;
}

.add-task label {
    flex-basis: 100%;
    color: var(--text-color-main);
    font-weight: bold;
    font-size: 1rem;
}
.add-task input[type="submit"] {
    background: rgb(255, 133, 133);
    color: var(--bg-secondary);
    flex-basis: 30%;
}

.task__action {
    color: gray;
    background: transparent;
    border: none;
}

.task--delete {
    color: rgb(255, 161, 161)!important;
    margin-left: 1rem;
}

.task--edit {
    text-decoration: none;
}

.task--edit:hover, .task--delete:hover {
    cursor: pointer;
    text-decoration: underline;
}


.task__do {
    grid-column: span 2;
}
.task__do h2 {
    text-align: center;
}

.task__header {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background: white;
}

.task__header--name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff8787!important;
    text-align: left!important;
    flex-basis: 80%;
    padding-left: 1rem;
}

.no-tasks {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em 0;
    font-size: 18px;
    font-style: italic;
}

.error-input {
    border: 2px solid rgba(230,0,0, .5)!important;
}

.success {
    color: rgb(0, 204, 102)!important;
}

