<!DOCTYPE html>
html(lang="en")
  head
    include partials/head
  body.login
    .container-form
      h1 Registrate en Uptasks

      if error
        p.alert.error= error

      if messages
        .alerts
          each error in messages
            .alert.error(class=`${category}`) 
              p= error

      form#form.box.box-login(method="POST" action="/registrarse")
        .field
          label(for="email") Email
          input(type="email" name="email" id="email" placeholder="Tu email" value= email)
        .field
          label(for="name") Nombre
          input(type="text" name="name" id="name" placeholder="Nombre completo" value= name)
        .field
          label(for="password") Password
          input(type="password" name="password" id="password" placeholder="Contraseña" value= password)
        .field
          input.btn(type="submit" value="Registrarse")

        span ¿Ya tienes una cuenta?
        a(href="/iniciar-sesion")  Inicia sesión
