
<!DOCTYPE html>
html(lang="en")
  head
    include partials/head
  body
  header.header
    h1 UpProjects
    span.header__greeting Hi, 
      span.header__greeting--name #{locals.user.name}
  
  main.container
    include partials/aside-left

    //pre= vardump(projects)
    .main
      block content

    include partials/aside-right
    
  // Scripts
  script(src="/public/dist/bundle.js")