<!DOCTYPE html>
html(lang="en")
  head
    include partials/head
  body.login
    .container-form
      h1 Reestablecer contraseñaa
      

      form#form.box.box-login(method="POST")

        span(style="font-style:italic") Ingresa tu nueva contraseña

        .field
          label(for="password") Password
          input(type="password" name="password" id="password" placeholder="Nueva contraseña")

        if error
          span.alert.error= error.msg

        .field
          input.btn(type="submit" value="Enviar")
        