aside.container-aside.aside__left
  nav.nav
    ul.nav__list
      li.nav__items
        a.nav__links(href="/") Inicio
      //- li.nav__items 
      //-   a.nav__links.new(href="/nuevo-proyecto") Nuevo
      li.nav__items
        a.nav__links(href="/logout") Cerrar sesion